<?xml version="1.0" encoding="UTF-8"?>

<!--
 -->

<Configuration status="warn" strict="true">
  <Properties>
    <Property name="filename">logs/debug.log</Property>
  </Properties>
  
  <Appenders>
    <Appender type="Console" name="Console">
      <Layout type="PatternLayout" pattern="%m MDC%X%n"/>
    </Appender>
    
    <Appender type="File" name="File" fileName="${filename}">
      <Layout type="PatternLayout">
        <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
      </Layout>
    </Appender>   
  </Appenders>
 
  <Loggers>
    <Logger name="de.axeljusek.servertools.energenie" level="warn" additivity="false">
      <AppenderRef ref="File"/>
      <AppenderRef ref="Console"/>
    </Logger>
    
  	<root level="warn">
      <AppenderRef ref="Console"/>
    </root>
  </Loggers>
 
</Configuration>